<div id="topics" class="container bg-white">
    <h3>Topics</h3>
    <ul class="gap-medium">
        {% for topic in topics %}
        <li>
            <div class="row topic-header p-small justify-between">
                <span class="topic-name">{{ topic.name }}</span>
                <button class="btn btn-action btn-small"
                        hx-get="/create_conversation/topic/{{ topic.id }}"
                        hx-target="#content">
                    +
                </button>
            </div>
            <ul class="conversation-list">
                {% for conversation in topic.conversations %}
                <li class="conversation-item">
                    <span class="text-small">{{ conversation.name }}</span>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    <form hx-post="/topics" hx-target="#topics" hx-swap="outerHTML" class="container gap-medium">
        <input type="text" name="topic_name" placeholder="New topic name" required />
        <button class="btn btn-action">Add Topic</button>
    </form>
</div>
